//colors
$greyLight: #f2f2f2;
$white: #ffffff;
$black: #000000;
$greenDark: #0e95aa;
$blue: hsl(211, 100%, 50%);
$greyDark: #808080;
$yellow: #b48b13;
$green: #1bca07;
$alert: #dc3545;

//color fonts
$whiteFont: #ffffff;
$blackFont: #000000;
$greyFont: #808080;

//transition
$transition: 0.3s ease-in-out;
